body {
  background-color: rgb(18, 14, 114);
  text-align: center;
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgb(235, 123, 12);
  height: 950px;
  width: 700px;
  border: 5px solid black;
  margin-bottom: 10px;
  margin-top: 20px;
  box-shadow: -9px 0px 100px black;
}

img {
  height: 200px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 7px solid black;
}

.clg {
  display: block;
  width: 500px;
  margin: 10px auto;
  background-color: #fdf5e6;
  color: black;
}

.abt {
  background-color: #fdf5e6; /* "Old Lace" color */
  padding: 15px; /* Adds breathing room for text */
  border-radius: 5px;
}

.head {
  background-color: #a7a7a7;
}

.list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.17em;

  display: block;
  margin: 10px 0;
  font-family: sans-serif;
}

.list a:hover {
  color: #333;
  text-decoration: underline;
}
.dep {
  display: block;
  width: 500px;
  margin: 10px auto;
  background-color: #fdf5e6;
  color: black;
}
